body{
    font-family: 'Merriweather', serif;
    width: 100%;
    background-image: url(../img/3433814.jpg);
    background-attachment: fixed!important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

nav{
    background: rgb(255,255,0);
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 80%, rgb(255, 255, 0) 100%);
    background-attachment: fixed;
}

nav a{
    color: rgb(0, 0, 0)!important;
    font-size: 20px;
    text-shadow: 0 0 0.1em #ffffff, 0 0 0.1em #ffffff, 0 0 0.1em #ffffff;
}

#titulo-principal{
    color: rgb(0, 0, 0);
    text-align: center;
    /* text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000; */
    margin-top: 130px;
    font-weight: bold;
}

#titulo-secundario{
    color: rgb(0, 0, 0);
    text-align: center;
    /* text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000; */
}

.fotoEntregaChave{
    border-radius: 85px;
    margin-top: 20px;
}

.imagem-carrosel {
    /* Mantém proporção */
    object-fit: cover; 
    /* altera posição: eixo x e y */
    object-position: 0 60%;
    /* ajusta tamanho */
    width: 100%!important;
    height: 470px;
    border-radius: 30px;

    margin-top: 150px;
}

.carousel-indicators{
    display: none
}

.texto-sombreado{
    text-shadow: 0 0 0.2em #000000, 0 0 0.2em #000000, 0 0 0.2em #000000;
}


#texto2{
    color: rgb(0, 0, 0);
    text-align: center;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;
}

.btn-detalhes{
    background-color: rgb(251, 255, 0);
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 5px;
    color: black;
    display: flex;
    justify-content: center;
}

.mobile{
    display: none!important;
}

footer{
    background-color: black;
}

footer p{
    color: white;
}

@media only screen and (max-width: 991px){
    .imagem-carrosel{
        height: 300px;
    }

    .fotoEntregaChave{
        display: none;
    }

    .imagem-carrosel{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 980px){
    .titulo-principal h1{
        font-size: 10vh!important;
    }
}


@media only screen and (max-width: 600px){
    .texto-carrosel{
        font-size: 20px!important;
        width: 67vw;
    }
}

@media only screen and (max-width: 900px){
    .desktop{
        display: none!important;
    }

    .mobile{
        display: block!important;
    }
}